In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('/content/Mall_Customers.csv')

In [6]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [7]:
df.shape

(200, 5)

In [8]:
df.index

RangeIndex(start=0, stop=200, step=1)

In [9]:
len(df)

200

In [10]:
#max
df['Annual Income (k$)'].max()

137

In [11]:
#min
df['Annual Income (k$)'].min()

15

In [12]:
#mean
df['Annual Income (k$)'].mean()

np.float64(60.56)

In [13]:
#standardivation
df['Annual Income (k$)'].std()

26.264721165271254

In [14]:
#mode
df['Annual Income (k$)'].mode()

0    54
1    78
Name: Annual Income (k$), dtype: int64

In [15]:
#valucounts
df['Annual Income (k$)'].value_counts()

Annual Income (k$)
54     12
78     12
60      6
48      6
63      6
       ..
101     2
113     2
120     2
126     2
137     2
Name: count, Length: 64, dtype: int64

In [16]:
#parcentile
df['Annual Income (k$)'].quantile(0.25)

np.float64(41.5)

In [17]:
#shob ek sathe
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [18]:
#value sorting
df['Annual Income (k$)'].sort_values()

0       15
1       15
2       16
3       16
4       17
      ...
195    120
196    126
197    126
198    137
199    137
Name: Annual Income (k$), Length: 200, dtype: int64

In [19]:
df['Annual Income (k$)'].sort_values(ascending=False)

199    137
198    137
197    126
196    126
195    120
      ...
5       17
2       16
3       16
0       15
1       15
Name: Annual Income (k$), Length: 200, dtype: int64

In [20]:
df['Annual Income (k$)'].nlargest(10)

198    137
199    137
196    126
197    126
194    120
195    120
192    113
193    113
188    103
189    103
Name: Annual Income (k$), dtype: int64

In [21]:
df.nsmallest(10,'Annual Income (k$)')

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72

In [22]:
#conditional stat
df['Annual Income (k$)']>70

0      False
1      False
2      False
3      False
4      False
       ...
195     True
196     True
197     True
198     True
199     True
Name: Annual Income (k$), Length: 200, dtype: bool

In [23]:
df[df['Spending Score (1-100)']>70]

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
1             2    Male   21                  15                      81
3             4  Female   23                  16                      77
5             6  Female   22                  17                      76
7             8  Female   23                  18                      94
9            10  Female   30                  19                      72
11           12  Female   35                  19                      99
13           14  Female   24                  20                      77
15           16    Male   22                  20                      79
19           20  Female   35                  23                      98
21           22    Male   25                  24                      73
23           24    Male   31                  25                      73
25           26    Male   29                  28                      82
29           30  Female   23                  29                      87
31           32  Female   21                  30                      73
33           34    Male   18                  33                      92
35           36  Female   21                  33                      81
37           38  Female   30                  34                      73
39           40  Female   20                  37                      75
41           42    Male   24                  38                      92
123         124    Male   39                  69                      91
125         126  Female   31                  70                      77
127         128    Male   40                  71                      95
129         130    Male   38                  71                      75
131         132    Male   39                  71                      75
133         134  Female   31                  72                      71
135         136  Female   29                  73                      88
137         138    Male   32                  73                      73
139         140  Female   35                  74                      72
141         142    Male   32                  75                      93
143         144  Female   32                  76                      87
145         146    Male   28                  77                      97
147         148  Female   32                  77                      74
149         150    Male   34                  78                      90
151         152    Male   39                  78                      88
153         154  Female   38                  78                      76
155         156  Female   27                  78                      89
157         158  Female   30                  78                      78
159         160  Female   30                  78                      73
161         162  Female   29                  79                      83
163         164  Female   31                  81                      93
165         166  Female   36                  85                      75
167         168  Female   33                  86                      95
171         172    Male   28                  87                      75
173         174    Male   36                  87                      92
175         176  Female   30                  88                      86
179         180    Male   35                  93                      90
181         182  Female   32                  97                      86
183         184  Female   29                  98                      88
185         186    Male   30                  99                      97
189         190  Female   36                 103                      85
193         194  Female   38                 113                      91
195         196  Female   35                 120                      79
197         198    Male   32                 126                      74
199         200    Male   30                 137                      83

In [24]:
#loc - it work index value
#iloc - it work index posotion
df.loc[0]
# saw first row

CustomerID                   1
Genre                     Male
Age                         19
Annual Income (k$)          15
Spending Score (1-100)      39
Name: 0, dtype: object

In [25]:
df.iloc[0]

CustomerID                   1
Genre                     Male
Age                         19
Annual Income (k$)          15
Spending Score (1-100)      39
Name: 0, dtype: object

In [26]:
df.loc[0:5]

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76

In [28]:
df.iloc[0:5]

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40